.donate
  display inline-block
  vertical-align middle

  font-size 18px
  color #d97d7d


  &::before
    @extend $font-heart-plus
    display inline-block
    vertical-align bottom
    min-height 20px
    min-width 20px


  &:hover
    color hoverize(#D97D7D)
