.screencast-content
    padding 0 20px

    .button_donate
        margin-top 20px
        padding 0 10px

        &:hover
            text-decoration none

    .button_donate .donate
        margin-right 10px
